@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container row mb-4">
        @{
            string rootPath = "wwwroot/images/aboutus/";
            string[] imageFiles = Directory.GetFiles(rootPath, "*.png", SearchOption.AllDirectories);

            // Sort the image files by their creation date
            Array.Sort(imageFiles, (x, y) => File.GetCreationTime(x).CompareTo(File.GetCreationTime(y)));

            foreach (string imageFile in imageFiles)
            {
                <div class="row mb-4">
                    <hr/>
                    <img src="images/aboutus/@System.IO.Path.GetFileName(imageFile)"/>
                </div>
            }
        }
    </div>

</div>