@using Hospital_Management.Utilities
@{
    ViewData["Title"] = "New Appointment";
}
<div class="row">
    <div class="container">
        <form id="registerForm" action="/newAppointment" method="post">
            <h2 class="mt-2">Create a new appointment.</h2>
            <p>
                Due to COVID-19 pandemic we are strictly by appointment only until further notice. We can accommodate 4
                to 5 patients only per branch per day. Please answer the questionnaire.
            </p>
            <hr/>
            <div class="form-floating mb-3">
                <input id="birthdate-id" type="datetime-local" name="date" class="form-control" aria-required="true"/>
                <label for="birthdate-id">Date and Time of Visit</label>
            </div>
            <div class="form-floating mb-3">
                <textarea style="height: 150px;" id="desc" rows="5" type="text" name="description" class="form-control" autocomplete="username" aria-required="true" placeholder=""></textarea>
                <label for="desc">Message</label>
            </div>

            <div class="mb-3">
                <label class="form-label form-control">Your Concerns</label>
                @foreach (var i in new[] { "braces", "cleaning", "consultation", "crown", "filling", "teeth-whitening", "tooth extraction", "veneers", "x-ray" })
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="@i" name="concerns[]" value="@i">
                        <label class="form-check-label" for="@i">@i.Replace("-", " ").FirstCharToUpper()</label>
                        <br>
                    </div>
                }
            </div>

            <button id="registerSubmit" type="submit" class="w-100 m-2 btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-hand-thumbs-up-fill"></i> Submit</button>
            <!-- Modal -->
            @* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> *@
            @*     <div class="modal-dialog"> *@
            @*         <div class="modal-content"> *@
            @*             <div class="modal-header"> *@
            @*                 <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-send-fill"></i> Submit</h5> *@
            @*                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            @*             </div> *@
            @*             <div class="modal-body"> *@
            @*                 <div class="input-group mb-3"> *@
            @*                     <span class="input-group-text" id="basic-addon1">₱</span> *@
            @*                     <input disabled value="600.00" type="text" class="form-control" aria-describedby="basic-addon1"> *@
            @*                 </div> *@
            @*                 <div class="input-group mb-3"> *@
            @*                     <span class="input-group-text">₱</span> *@
            @*                     <input id="user-payment" name="paid" type="text" class="form-control" aria-describedby="basic-addon1"> *@
            @*                     <label class="form-control" for="user-payment">Your Payment</label> *@
            @*                 </div> *@
            @*             </div> *@
            @*             <div class="modal-footer"> *@
            @*                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button> *@
            @*             </div> *@
            @*         </div> *@
            @*     </div> *@
            @* </div> *@
        </form>
    </div>
</div>