@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@if (SignInManager.IsSignedIn(User))
{
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex justify-content-center align-items-center align-middle">
        To go to your admin dashboard to go <a class="btn btn-primary m-2" href="/dashboard">Dashboard</a> to register a dentist go to <a class="btn btn-primary m-2" href="/register">Register</a>
    </div>
}
else
{
    <div class="container row mb-4">
        <div class="row mb-4">
            <img class="img-fluid" src="images/Picture1.png"/>
            <h1 class="text-primary mb-4">Dental Tourism</h1>
            <p>Come to the Philippines for your dental concerns and you'll be rewarded with solutions and services that are excellently world-class, impressibly affordable, friendly, and comprehensive.</p>
        </div>
        <div class="row mb-4">
            <h1 class="text-primary">Your Complete Dental Care Shop</h1>
            <hr/>
            <p>
                Extensive dental expertise, truly state-of-the-art, and the best locations in Metro Manila (with <a href="/branches" class="text-primary">dental clinic branches in Makati</a>, Pasay
                and Quezon City). Dental World Manila embodies all these, with clients guaranteed to experience and enjoy every such aspect with every service. Headed by Dr. Malony L. Santos of St. Luke's
                Medical Center, the Philippines' foremost hospital, Dental Worldanila is your hub for comprehensive and highly specialized dental treatments, such as cosmetic dentistry, TMJ, and periodontics
                among others.
            </p>
            <a class="btn-primary rounded-3 btn" href="/registerAppointment">Make an Appointment</a>

            <hr/>
        </div>
        <div class="row mb-4">
            <h1 class="text-primary">Meet the Dentists</h1>
            <p>
                At the helm of Dental World Manila is Dr. Malony L. Santos, an expert clinician with extensive
                training in several fields of dentistry. Completing the team are competent dentists with different
                specializations, unfailing dental nurse assistants and aides, skilled laboratory technicians,
                and dependable staff, all ready to assist patients with any concern.
            </p>
            <div class="container row  d-flex justify-content-center">
                <div class="text-center align-middle col-4 row">
                    <img class="img-fluid row" src="/images/image015.jpg"/>
                </div>
                <div class="text-center align-middle col-4 row">
                    <img class="img-fluid row" src="/images/image016.jpg"/>
                </div>
                <div class="text-center align-middle col-4 row">
                    <img class="img-fluid row" src="/images/image010.jpg"/>
                </div>

                <div class="col-4 align-middle text-center">
                    <p class="text-primary h4 m-2 text-center row">Dr. Malony Santos</p>
                </div>

                <div class="col-4 align-middle text-center">
                    <p class="text-primary h4 m-2 text-center row">Dr. Mary Ann Alatraca</p>
                </div>
                <div class="col-4 align-middle text-center">
                    <p class="text-primary h4 m-2 text-center row">Dr. Agustin Mendoza IV</p>
                </div>

                <div class="text-center align-middle col-4 row">
                    <img class="img-fluid row" src="/images/image012.jpg"/>
                </div>
                <div class="text-center align-middle col-4 row">
                    <img class="img-fluid row" src="/images/image013.jpg"/>
                </div>
                <div class="text-center align-middle col-4 row">
                    <img class="img-fluid row" src="/images/image018.jpg"/>
                </div>
                <div class="col-4 align-middle text-center">
                    <p class="text-primary h4 m-2 text-center row">
                        Dr. Genelyn Calixto
                    </p>
                </div>

                <div class="col-4 align-middle text-center">
                    <p class="text-primary h4 m-2 text-center row">
                        Dr. Ronald Joaquico
                    </p>
                </div>
                <div class="col-4 align-middle text-center">
                    <p class="text-primary h4 m-2 text-center row">
                        Dr. Irma Medrano
                    </p>
                </div>
            </div>
        </div>

        <div class="container row mb-4">
            <h1 class="text-primary mb-4">Services</h1>
            <p>We go beyond making sure your teeth and gums are healthy. Here, your smile gets the makeover that you need and desire through various dedicated treatments covering, Restorative.</p>

        </div>

        <div class="container row mb-4">
            <div class="text-center align-middle col-4 ">
                <img class="img-fluid row" src="/images/image026.jpg"/>
            </div>
            <div class="text-center align-middle col-4 ">
                <img class="img-fluid row" src="/images/image027.jpg"/>
            </div>
            <div class="text-center align-middle col-4 ">
                <img class="img-fluid row" src="/images/image028.jpg"/>
            </div>
            <div class="col-4 align-middle text-center">
                <p class="text-primary text-center">
                    Restorative Dentistry / Tooth Bonding
                </p>
            </div>

            <div class="col-4 align-middle text-center">
                <p class="text-primary text-center">
                    Orthodontics (Metal Braces / Invisalign)
                </p>
            </div>
            <div class="col-4 align-middle text-center">
                <p class="text-primary text-center">
                    Oral Surgery
                </p>
            </div>
            <div class="text-center align-middle col-4 ">
                <img class="img-fluid row" src="/images/image035.jpg"/>
            </div>
            <div class="text-center align-middle col-4 ">
                <img class="img-fluid row" src="/images/image031.jpg"/>
            </div>
            <div class="text-center align-middle col-4 ">
                <img class="img-fluid row" src="/images/image032.jpg"/>
            </div>
            <div class="col-4 align-middle text-center">
                <p class="text-primary text-center">
                    Dental Crowns, Bridges, and Veneers
                </p>
            </div>

            <div class="col-4 align-middle text-center">
                <p class="text-primary text-center">
                    Teeth Whitening
                </p>
            </div>
            <div class="col-4 align-middle text-center">
                <p class="text-primary text-center">
                    Dental X-ray services and Diagnostics
                </p>
            </div>
        </div>
        <div class="container row">
            <h1>Clinic Info</h1>
        </div>
        <div class="container row">
            <div class="text-center align-middle col-4 ">
                <img class="img-fluid row" src="/images/image044.png"/>
            </div>
            <div class="text-center align-middle col-4 ">
                <img class="img-fluid row" src="/images/image045.png"/>
            </div>
            <div class="text-center align-middle col-4 ">
                <img class="img-fluid row" src="/images/image046.png"/>
            </div>
            <div class="col-4 align-middle text-center">
                <p class="text-primary text-center">
                    <i class="bi bi-calendar-week"></i> Mondays to Sundays 10-AM-7PM
                </p>
                <p class="text-primary text-center">
                    <i class="bi bi-geo-alt"></i> Unit WZ 222 2nd level, Wellness Zone, North Parking Bldg., SM Mall of Asia, J.W. Diokno Blvd., Mall of Asia Complex, Pasay City, Philippines
                </p>
                <p class="text-primary text-center">
                    <i class="bi bi-phone"></i> (632) 8556-0373 <br/>
                    +63 925 735 6366 (Sun)
                </p>
            </div>

            <div class="col-4 align-middle text-center">
                <p class="text-primary text-center">
                    <i class="bi bi-calendar-week"></i> Mondays to Saturdays, 10AM - 6:00PM
                    309B-310 3F Northlink Bldg.,
                </p>
                <p class="text-primary text-center">
                    <i class="bi bi-geo-alt"></i> SM City North EDSA,
                    Quezon City, Philippines

                </p>
                <p class="text-primary text-center">
                    <i class="bi bi-phone"></i> 632) 8441-5803<br/>
                    +63 922 871 9667 (Sun)

                </p>
            </div>
            <div class="col-4 align-middle text-center">
                <p class="text-primary text-center">
                    Dental X-ray services and Diagnostics
                </p>
            </div>
        </div>
        @* @{ *@
        @*     string rootPath = "wwwroot/images/pages/"; *@
        @*     string[] imageFiles = Directory.GetFiles(rootPath, "*.png", SearchOption.AllDirectories); *@
        @* *@
        @*     // Sort the image files by their creation date *@
        @*     Array.Sort(imageFiles, (x, y) => File.GetCreationTime(x).CompareTo(File.GetCreationTime(y))); *@
        @* *@
        @*     foreach (string imageFile in imageFiles) *@
        @*     { *@
        @*         <div class="row mb-4"> *@
        @*             <hr/> *@
        @*             <img src="images/pages/@System.IO.Path.GetFileName(imageFile)"/> *@
        @*         </div> *@
        @*     } *@
        @* } *@
    </div>
}
</div>