@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex justify-content-center align-items-center align-middle">
        To go to your admin dashboard to go <a class="btn btn-primary m-2" href="/dashboard">Dashboard</a> to register a dentist go to <a class="btn btn-primary m-2" href="/register">Register</a>
    </div>
</div>