@{
    ViewData["Title"] = "New Appointment";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="container">
        <form id="registerForm" action="/newAppointment" method="post">
            <h2>Create a new appointment.</h2>
            <hr/>
            
            <div class="form-floating mb-3">
                <label>Full Description</label>
                <input type="text" name="description" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
            </div>
            
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary"><i class="bi bi-plus-square-fill"></i> Add</button>
        </form>
    </div>
</div>