@{
    ViewData["Title"] = "Register Dentist";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="container">
        <form id="registerForm" action="/registerDoctor" method="post">
            <h2>Create a new dentist account.</h2>
            <hr/>
            <div class="form-floating mb-3">
                <label for="nameid">Name</label>
                <input id="nameid" type="text" name="name" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>

            </div>
            <div class="form-floating mb-3">
                <label for="addresId">Address</label>
                <input type="text" name="address" id="addresId" class="form-control"  aria-required="true" />
            </div>
            <div class="form-floating mb-3">
                <label for="birthdateid">Birthdate</label>
                <input id="birthdateid" type="text" name="birthdate" class="form-control" aria-required="true" />
            </div>
            <div class="form-floating mb-3">
                <label for="genderid">Gender</label>
                <input id="genderid" type="text" name="gender" class="form-control" aria-required="true" />
            </div>
            <div class="form-floating mb-3">
                <label for="cellphonen">Cellphone Number</label>
                <input id="cellphonen" type="text" name="cellphoneNumber" class="form-control"  aria-required="true" />
            </div>
            <div class="form-floating mb-3">
                <label for="licensenumber">License Number</label>
                <input id="licensenumber" type="text" name="licenseNumber" class="form-control" aria-required="true" />
            </div>
            <div class="form-floating mb-3">
                <label for="passwordd">Password</label>
                <input id="passwordd" type="password" name="password" class="form-control" aria-required="true" />
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>
