@{
    ViewData["Title"] = "Register Patient";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="container">
        <form id="registerForm" action="/registerPatient" method="post">
            <h2>Register as a patient.</h2>
            <hr/>
            <div class="form-floating mb-3">
                <input type="text" id="name" name="name" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label for="name">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="address" name="address" class="form-control" aria-required="true"/>
                <label for="address">Address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="birthdate" name="birthdate" class="form-control" aria-required="true"/>
                <label for="birthdate">Birthdate</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="gender" name="gender" class="form-control" aria-required="true"/>
                <label for="gender">Gender</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="cellphoneNumber" name="cellphoneNumber" class="form-control" aria-required="true"/>
                <label for="cellphoneNumber">Cellphone Number</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="guardian" name="guardian" class="form-control" aria-required="true"/>
                <label for="guardian">Guardian</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" id="password" name="password" class="form-control" aria-required="true"/>
                <label for="password">Password</label>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>