@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="container row mb-4">
        <h1 class="text-primary">
            <strong>Restorative Dentistry / Tooth Bonding</strong>
        </h1>
        <img class="img-fluid" src="/images/image059.jpg"/>
        <p>
            With a single session of tooth bonding, you can have an improved smile and even eliminate the need for the more rigorous orthodontic treatment. This procedure makes your smile more symmetrical and space-free via composite fillings, or inlay and onlay restorations for large cavities.

        </p>
        <ul class="list-group m-4 p-4">
            <li class="list-group-item">Light Cure Composite Fillings</li>
            <li class="list-group-item">Diastema Closure (Gap Between Teeth)</li>
            <li class="list-group-item">Direct Inlay and Onlay Composite Fillings</li>
        </ul>
    </div>
    <div class="container row mb-4">
        <h4 class="text-primary">
            <strong>Are Amalgam Fillings Still Safe?</strong>
        </h4>
        <p>Amalgam fillings are used to fill in areas of cavities in the teeth. Amalgam uses mercury in the filling components, and although this has some controversy, some dentists still use this type of filler. Many countries have actually begun a program to phase out the use of amalgam in cavities.</p>
    </div>
    <div class="container row mb-4">
        <h4 class="text-primary">
            <strong>Should I have it all removed and replace them with composite fillings?</strong>
        </h4>

        <p>
            Many studies suggest that mercury exposure of any kind can be very toxic, even at low doses. This is why many countries are no longer allowing the use of Amalgam in their dental clinics. While it can be expensive to replace all of your fillings, it may be a wise move to get a toxic metal out of your mouth. Since composite is far safer and easy to install in the cavities, it may be a good idea to set up a consultation with a trusted dentist to discuss replacing the fillings.
            There have been reports that it contains toxins that are harmful to the human body. While studies indicated that, used alone, the Amalgam did not provide enough harmful exposure; other tests suggest that chewing gum or even salivating excessively could raise the levels of exposure to the mercury in the fillings. A German study also indicated that the removal of the Amalgam fillers helps remove many people's chronic illnesses and improved overall health.
            Signs of mercury poisoning are often very subtle, and may include high blood pressure, excessive sweating, increased heart rate, kidney dysfunction and much more. Composite fillings possess none of the risks that Amalgam does, and would be a good replacement.
        </p>
    </div>
    <div class="container row mb-4">
        <h4 class="text-primary">
            <strong>Oral Surgery</strong>
        </h4>
        <img class="img-fluid" src="/images/image060.jpg"/>
        <p>You can expect our team of dentists to be very gentle but thorough with every surgical process. From simple extractions to complex treatments like frenectomy, where tissue is removed to prepare for dentures or braces, patients can be assured of great comfort during surgery as well as long-term enhancement of oral functions.</p>

        <ul class="list-group m-4 p-4">
            <li class="list-group-item">Simple Extraction</li>
            <li class="list-group-item">Odontectomy (Wisdom Tooth Removal)</li>
            <li class="list-group-item">Apicoectomy</li>
            <li class="list-group-item">Alveolectomy/Alveoplasty (Removal or Trimming of Ridge)</li>
            <li class="list-group-item">Frenectomy</li>
            <li class="list-group-item">Torus Palatinus/Mandibularis’</li>
        </ul>
    </div>
    <div class="container row mb-4">
        <h4 class="text-primary">
            <strong>Orthodontics (Metal Braces / Invisalign)</strong>
        </h4>
        <img class="img-fluid" src="/images/image063.jpg"/>

        <p>We are very proud to offer Invisalign Braces apart from metal and ceramic brackets. Invisalign uses a series of clear aligners that are custom-molded for each patient. The virtually invisible aligners gradually reposition your teeth into a smile you’ll be proud of. Invisalign braces are removable, and most people won’t even notice you’re wearing them. Results set in in 6 months to 1 year.</p>
        <ul class="list-group m-4 p-4">
            <li class="list-group-item">Metal and Ceramic Brackets</li>
            <li class="list-group-item">Invisalign Braces</li>
        </ul>
    </div>
    <div class="container row mb-4">
        <h4 class="text-primary">
            <strong>What is the Difference between Metal Dental Braces and Invisalign?</strong>
        </h4>
        <p>
            Braces have been used for many years to help straighten teeth and improve dental appearance. However, recent technology allows for newer methods of orthodontia. When it comes to Invisalign in Manila, Philippines, many people enjoy the sensation of wearing braces that are not visible, as opposed to metal brackets.
            An orthodontist in Manila Philippines may explain the three main types of orthodontia:
        </p>

        <ul class="list-group m-4 p-4">
            <li class="list-group-item">• Metal Brackets – comprised of metal, sturdy and far less expensive braces, but far more visible</li>
            <li class="list-group-item">• Ceramic Brackets – more expensive, but much less obtrusive, quite sturdy as well</li>
            <li class="list-group-item">• Lingual brackets – attached to the back of the teeth and are practically invisible when worn</li>
            <li class="list-group-item">• Plastic Brackets – offer a clear bracket</li>
            <li class="list-group-item">• Self-Ligating Brackets – this type of bracket is actually a bit different, in that it does not use the typical metal guide wire to tighten the teeth, but rather a type of door to hold the arch wire in place. Hygiene is easier, but the cost is far higher.</li>
        </ul>
        <p>Invisalign Type of Braces are perhaps the best mix of functionality, economy and aesthetic value when it comes to braces. These braces use an aligner rather than the traditional bracket and arch wire combination. The Invisalign are truly almost invisible, and can be work with far more comfort than the typical braces. In addition, they can be completely removed for better hygiene, and are fairly cost effective. The only down side is that the Invisalign can be difficult for children to manage, as they tend to lose their bracket that is all in one piece. This tends to be a less painful method of orthodontia.</p>
    </div>
    <div class="container row mb-4">
        <h4 class="text-primary">
            <strong>Cosmetic Dentistry</strong>
        </h4>
        <img class="img-fluid" src="/images/image071.jpg"/>

        <p>
            We promise you a smile makeover that goes beyond improving how your teeth and gums function. Ever wonder how actors and actresses have gotten that picture-perfect teeth? At Dental World Manila, you can now also enjoy quality cosmetic treatments that they get. Our services involve whitening, teeth reshaping, bonding, porcelain veneers (laminates), crowns (caps), and gum grafts, among others. We can also restore decayed teeth to their original form and function.
            Our all-porcelain/ceramic crowns mimic the appearance of natural teeth. Materials used for both are 100% biocompatible, metal-free, hypoallergenic, translucent, and natural-looking, without the unsightly dark gumlines. Zirconia crowns and bridges can also be used instead. The clinic utilizes E-max and Empress Systems for such treatments.
            For a more gorgeous smile, you can opt for cosmetic gum surgery or gum reshaping. This procedure is practically painless and self-cauterizing via laser, minimizing the risk of exposure that may lead to infection.
        </p>
        <ul class="list-group m-4 p-4">
            <li class="list-group-item">• Dental Veneers (Porcelain / Composite)</li>
            <li class="list-group-item">• Laser Teeth Whitening</li>
            <li class="list-group-item">• Indirect Inlay and Onlay Restorations</li>
            <li class="list-group-item">• All Ceramic / Metal Free Crowns</li>
            <li class="list-group-item">• Zirconia Crown and Bridge</li>
            <li class="list-group-item">• Gum Recontouring / Crown Lengthening</li>
            <li class="list-group-item">• Smile Makeover</li>
        </ul>
    </div>
    <div class="container row mb-4">
        <h4 class="text-primary">
            <strong>What is a Smile Makeover?</strong>
        </h4>
        <p>
            Cosmetic dentistry has changed many people's lives – now they no longer have to feel self-conscious about their teeth, because they can get a beautiful smile with simple procedures. Known as a smile makeover, this is a term to describe any type of cosmetic dental enhancement, from teeth whitening to porcelain veneers.
            How will I know if I am a candidate to have this procedure?
            Almost anyone can get cosmetic dental procedures – whether the problem is dark teeth or chipped teeth, most clinics will have something to help improve the appearance and health of the teeth.
        </p>
    </div>
    <div class="container row mb-4">
        <h4 class="text-primary">
            <strong>A smile makeover in Manila Philippines may include?</strong>
        </h4>
        <ul class="list-group m-4 p-4">
            <li class="list-group-item">• Bleaching – lightening the teeth to a bright white shade with lasers, chemicals or other treatments.</li>
            <li class="list-group-item">• Veneers / Crowns – applying a cap or layer of porcelain over the tops or front of the teeth to produce a perfectly white and even appearance on the teeth.</li>
            <li class="list-group-item">• Gum Re-contouring – reshaping the gum line to improve the appearance of small teeth or disguise gingivitis.</li>
            <li class="list-group-item">• Laser Restoration – using lasers to fill in a cavity and fill it in with a natural looking substance that heals the tooth and looks natural.</li>

        </ul>
        <p>Although there are many options for cosmetic dentistry in Manila Philippines, patients who are interested in improving the appearance of their teeth should first look over their budget, decide what they just cannot live without and then make several consultation appointments in order to compare services and rates among local cosmetic dentists in Manila. There may be other options that are available, depending on the circumstances. Many people can enjoy a beautiful smile and an affordable option for improved dental appearance.</p>
    </div>
    <div class="container row mb-4">
        <h4 class="text-primary">
            <strong>What are the Common Dental Procedures in Dental Cosmetics?</strong>
        </h4>
        <p>When it comes to dental cosmetics in Manila Philippines, many people are fortunate enough to have access to some of the most innovative cosmetic dental procedures available. Some popular procedures include:</p>
        <ul class="list-group m-4 p-4">
            <li class="list-group-item">• Dental Veneers – A permanent and fine layer of porcelain or man-made material that disguises the poor aesthetic quality of the teeth.</li>
            <li class="list-group-item">• Teeth Whitening – Removing stain and lightening the overall color of the teeth through bleaching techniques or light treatment.</li>
            <li class="list-group-item">• Indirect Onlay and Inlay Restoration or Fillings – These procedures use a bonding material to fill in cavities. The Onlay and Inlay is usually used for larger cavities.</li>
            <li class="list-group-item">• All Ceramic / Porcelain Crown – A cap made of ceramic that covers the tooth completely and disguises flaws on the teeth.</li>
            <li class="list-group-item">• Zirconia Crown- A popular choice for crowns, due to strength of material and lack of black line along the gums. Although more expensive, this is a longer lasting type of crown.</li>
            <li class="list-group-item">• Gum Re-contouring – A procedure used to re-shape the gum line in order to disguise "baby teeth" or gum loss. This procedure typically uses a laser and is relatively painless.</li>
            <li class="list-group-item">• Crown Lengthening Procedure – this procedure is similar to the gum re-contouring, in that the gum line is moved so more of the tooth is exposed. This procedure is also sometimes done for medical purposes, as well as for aesthetic.</li>
            <li class="list-group-item">• Smile Makeover – the term used to describe a dental procedure that dramatically improves the appearance of the teeth.</li>
        </ul>
        <p>Cosmetic dentistry has come a long way, and can now offer solutions to the most complex dental problems. Cosmetic Dentists in Manila can offer a consultation to help patients discover their solution.</p>
    </div>
    <div class="container row mb-4">
        <h4 class="text-primary">
            <strong>Dental X-ray Services and Diagnostics</strong>
        </h4>
        <img src="/images/image006.png" class="m-4"/>
        <p>One of Dental World Manila’s great advantages over other dental clinics is that we have our own laboratory, so dental problems are dealt with immediately, and all procedures needed are done in-house. This way, the quality of service is more thorough and streamlined, perfect for patients who have a busy lifestyle and tourists who can only be in Manila for a limited time.</p>
    </div>
    <div class="container row mb-4">
        @* @{ *@
        @*     string rootPath = "wwwroot/images/services/"; *@
        @*     string[] imageFiles = Directory.GetFiles(rootPath, "*.png", SearchOption.AllDirectories); *@
        @* *@
        @*     // Sort the image files by their creation date *@
        @*     Array.Sort(imageFiles, (x, y) => File.GetCreationTime(x).CompareTo(File.GetCreationTime(y))); *@
        @* *@
        @*     foreach (string imageFile in imageFiles) *@
        @*     { *@
        @*         <div class="row mb-4"> *@
        @*             <hr/> *@
        @*             <img src="images/services/@System.IO.Path.GetFileName(imageFile)"/> *@
        @*         </div> *@
        @*     } *@
        @* } *@
    </div>

</div>